.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 420px) {
   

    .row{
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      margin-bottom: 2em;
      font-size: 1.5rem;
    }
    #lezioni .row>.left,
    #lezioni .row>.right{
      align-self: center;
      width: 80%;
      margin-bottom: 1.5em;
    }
    #lezioni .row .left h3,
    #lezioni .row .right h3{
      margin: 1rem 0em;
    }
    #lezioni .row h1{
      margin-top: 0.5em;
    }


    #lezioni .row .right img{
      width: 100%;
      height: 100%;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      align-self: center;
      width: 80%;
      padding-bottom: 3em;
      padding-top: 1em;
    }
    #why .row>h1 {
      margin: 1.2rem 0;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third{
      margin-top: 1em;
    }



} */
